# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Prisma
prisma/*.db
prisma/*.db-journal

# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# React build
frontend/build/
frontend/dist/
